
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #636564; 
  font-family: 'Nova Square', cursive;
}

/* Must style in landscape for mobile-first */
/* iPhone 5/SE landscape */

.background {
  background: url(./images/mainroom.jpg) no-repeat center center fixed; 
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

@media only screen and (max-width: 600px) and (orientation: landscape) {
  .background {
      width: 568px;
      height: 320px;
      position: fixed;
  }
  .bed {
      width: 91px;
      height: 53px;
      top: 216px;
      left: 49px;
      position: absolute;
  }

  .bed {
    
    /*Transition*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
    /*Reflection*/
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
   }
  .bed:hover {  
    opacity: 1;
    
    /*Reflection*/
   /* -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
   box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4))); */
  
    /*Glow*/
   -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
   -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
   box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
 }  

  .chair {
      width: 77px;
      height: 56px;
      top: 165px;
      left: 433px;
      position: absolute;
  }
  .clock {
      width: 72px;
      height: 31px;
      top: 98px;
      left: 337px;
      position: absolute;
  }
  .globe {
      width: 49px;
      height: 50px;
      top: 121px;
      left: 272px;
      position: absolute;
  }
  .growler {
      width: 23px;
      height: 38px;
      top: 52px;
      left: 135px;
      position: absolute;
  }
  .dresser {
      width: 103px;
      height: 99px;
      top: 162px;
      left: 207px;
      position: absolute;
  
  }
  .mermaid {
      width: 65px;
      height: 70px;
      top: -39px;
      left: -96px;
      position: absolute;
  }
  .octopus {
      width: 92px;
      height: 97px;
      top: -1px;
      left: 216px;
      position: absolute;
  
  }
   .rug {
      display: none;
  } 
  .hats {
      width: 25px;
      height: 21px;
      top: 182px;
      left: 161px;
      position: absolute;
  }

  #myProgress {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #ddd;
    text-align: right;
  }
  
  #myBar {
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 100%;
    background-color: #923337;
  }

  .timertext {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    color: #ddd;
    text-align: center;
    z-index: 100; /*the higher the number means its on the top of the pile*/
    animation: blinker 1s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  }
  
  
  .QApopup {
      /* height: 50%; */
      width: 50%;
      margin: 0 auto;
      background-color:#923337;
      position: fixed;
      display: flex;
      /* justify-content: center; */
      align-items: center;
      flex-direction: column; 
      z-index: 1;
      padding: 10px; 
      font-family: 'Nova Square', cursive;
      font-family: 'Cormorant Unicase', serif;
      top: 5%;
      left: 0;
      right: 0; 
      font-size: 0.5rem; 
      /* line-height: 1.6; */
      border-radius: 10px; 
    }
  
    .question {
      font-size: 0.7rem; 
      line-height: 1.2; 
  }
  
  .answer {
      font-size: 0.3rem; 
      line-height: 2; 
  }
  
  
  @keyframes bounceIn {
          0% {
            transform: scale(0.1);
            opacity: 0;
          }
          60% {
            transform: scale(1.2);
            opacity: 1;
          }
          100% {
            transform: scale(1);
          }
        }
  
        @keyframes spin {
          from {
              transform:rotate(0deg);
          }
          to {
              transform:rotate(360deg);
          }
      }
  
      .loser, .winner {
          background-color: #2B4162;
          border-radius: 100px; 
          border: 10px double #636564;
          color: #636564;
          padding: 5px; 
          height: 120px;
          width: 200px;
          margin: 0 auto;
          margin-top: 50px; 
          text-align: center;
          animation: spin 3s;
      }
  
      .rules {
          background-color: #2B4162;
          border-radius: 30px; 
          border: 10px double #636564;
          color: #636564;
          padding: 15px; 
          height: 80px;
          width: 430px;
          margin: 0 auto;
          margin-top: 80px; 
          text-align: center;
      }
  
      .rules p, .winner p, .loser p {
          padding-bottom: 5px; 
          color: #636564;
      }
  
      /* .winner p {
          padding: 5px; 
      }
  
      .loser p {
          margin: 10px;
      } */
  
      .winners {
          display: flex;
          flex-direction: row;
      }
  
      .winner1, .winner2 {
          background-color: #2B4162;
          border-radius: 100px; 
          border: 1px dashed #636564;
          color: #636564;
          padding: 10px; 
          height: 30px;
          width: 90px;
          margin: 10px auto;
          text-align: center;
          animation: bounce 1s;
      }
  
      @keyframes bounce {
          from { transform: translate3d(0, 0, 0);     }
          to   { transform: translate3d(0, 200px, 0); }
        }
        
        /* Prefix Support */
        .winner1, .winner2 {
          -webkit-animation-name: bounce;
          -webkit-animation-duration: .8s;
          -webkit-animation-direction: alternate;
          -webkit-animation-timing-function: cubic-bezier(.5,0.05,1,.5);
          -webkit-animation-iteration-count: infinite;
          animation-direction: alternate;
          animation-timing-function: cubic-bezier(.5,0.05,1,.5);
          animation-iteration-count: infinite;
          animation-duration: .8s;
          animation-name: bounce;
        }
  
        
        @-webkit-keyframes bounce {
          from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
          to   { -webkit-transform: translate3d(0, 200px, 0); transform: translate3d(0, 200px, 0); }
        }
  
  
      .winner h1, .loser h1 {
          font-size: 20px; 
          margin-top: 30px;
      }
      a {
          background-color: #2F2F2F;
          border-radius: 5px; 
          color: #636564;
          height: 50px;
          width: 80px; 
          text-decoration: none;
          font-size: 10px; 
          padding: 5px;
      }
  
  /* Welcome Page */
  .welcomePage {
      background: #385F71; 
      width: 568px;
      height: 320px;
      display: flex; 
      flex-direction: column; 
      align-content: flex-end; 
  }
  
  
  .grandEscape {
      color: white; 
      text-align: center; 
     
  }
  
  a.clickToPlay {
      color: white; 
      background-color: #385F71;
      margin: 0 auto; 
  }

