p, li {
    font-size: 20px;
}

/*.background {
    background: url(./images/mainroom.jpg) no-repeat center center fixed; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1200px;
    height: 750px;
    margin: 0 auto;
    position: relative;
}*/
