* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2B4162;
}

.landscape {
    height: 100vh;
    color: white;
    background-color:#923337;
    font-family: 'Nova Square', cursive;
    font-size: 1rem; 
    color: lightgray;
}
.landscape p {
    padding: 15px 60px;

}
.rotate {
    font-size: 200px;
    margin: 15px 60px;
}

img, .title {
    display: none;
}


@media only screen and (min-width: 320px) and (orientation: landscape) {

    .title {
        display: block;
    }

    img {
        display: block;
    }

    .landscape {
        display: none;
    }

    .background {
        background: url(./images/mainroom.jpg) no-repeat center;
        background-repeat: no-repeat;
        background-size: auto auto;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        width: 568px;
        height: 320px;
        position: relative;
    }

    /* Styling for timer bar */
    #myProgress {
        position: fixed;
        right: 0;
        width: 7%;
        height: 100%;
        background-color: #ff0000;
        text-align: right;
    }
      
    #myBar {
        position: fixed;
        right: 0;
        width: 7%;
        height: 100%;
        background-color: #ddd;
    }
    
    .timertext {
        position: absolute;
        width: 100%;
        height: 20px;
        color: #ddd;
        text-align: center;
        margin-top: 100px; 
        z-index: 100; /*the higher the number means its on the top of the pile*/
        animation: blinker 1s linear infinite;
        font-family: 'Cormorant Unicase', serif;
    }

    /*animation for timer bar text */
    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }

    /* Image Positioning and Animation */
    .bed {
        width: 79px;
        height: 54px;
        top: 162px;
        left: 54px;
        position: absolute;
    }

    /* icon shake in mainroom */ 

    img:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
        cursor: help;
    }

    @keyframes fontbulger {
        0% {
        font-size: 10px;
        }
        25% {
        font-size: 13px;
        }
        50% {
            font-size: 15px;
        }
        75% {
            font-size: 13px; 
        }
        100% {
        font-size: 10px;
        }
    }
    
    #box {
        animation: fontbulger 3s infinite;
    }
      
    .chair {
        width: 70px;
        height: 61px;
        top: 111px;
        left: 435px;
        position: absolute;
    }
  
    .clock {
        width: 68px;
        height: 28px;
        top: 48px;
        left: 338px;
        position: absolute;
    }
  
    .globe {
        width: 46px;
        height: 52px;
        top: 69px;
        left: 274px;
        position: absolute;
    }
  
    .growler {
        width: 25px;
        height: 38px;
        top: 0px;
        left: 136px;
        position: absolute;
    }
  
    .dresser {
        width: 97px;
        height: 97px;
        top: 110px;
        left: 214px;
        position: absolute;
    }
  
    .mermaid {
        width: 66px;
        height: 73px;
        top: 105px;
        left: 0px;
        position: absolute;
    }
  
    .octopus {
        width: 85px;
        height: 74px;
        top: -32px;
        left: 221px;
        position: absolute;
    }
  
     .rug {
        width: 193px;
        height: 101px;
        top: 263px;
        left: 210px;
        position: absolute;
    }
  
    .hats {
        width: 25px;
        height: 21px;
        top: 130px;
        left: 160px;
        position: absolute;
    }

    .incorrect {
        animation: shake 0.5s; 
    }
  /* end of icon positioning */


  /* question and answer popup */
    .QApopup {
        min-height: 150px;
        width: 50%;
        margin: 0 auto;
        background-color:#923337;
        color: lightgray;
        letter-spacing: 2px;
        position: fixed; 
        z-index: 1;
        padding: 10px; 
        font-family: 'Cormorant Unicase', serif;
        top: 15%;
        left: 0;
        right: 0; 
        border-radius: .75rem; 
        overflow-wrap: break-word;
    }

    .correctAnswer {
        margin: 0 auto;
        background-color:#708238;
        color: lightgray;
        letter-spacing: 2px;
        position: fixed; 
        z-index: 100000;
        padding: 10px; 
        font-family: 'Cormorant Unicase', serif;
        top: 15%;
        left: 0;
        right: 0; 
        border-radius: .75rem; 
        text-align: center;
        font-size: 23px;
        height: 55px;
        width: 170px;
    }

    .tryAgain {
        margin: 0 auto;
        background-color:#2B4162;
        color: lightgray;
        letter-spacing: 2px;
        position: fixed; 
        z-index: 100000;
        padding: 10px; 
        font-family: 'Cormorant Unicase', serif;
        top: 15%;
        left: 0;
        right: 0; 
        border-radius: .75rem; 
        text-align: center;
        font-size: 23px;
        height: 55px;
        width: 170px;
    }

    .question {
        font-size: 0.7rem; 
        line-height: 1.2; 
        padding-bottom: 10px;
        text-align: center;
        animation: fade 5s infinite 1400ms;

    }        
    @keyframes fade{
        50% {
            opacity: 0.02;
        }
    }
    
    .answer {
        font-size: 0.6rem; 
        line-height: 2; 
        margin-left: 25%;
    }
    
    .loser, .winner {
        background-color:#923337; 
        z-index: 1;
        font-family: 'Nova Square', cursive;
        font-size: 1.75rem; 
        border-radius: 10px; 
        color: lightgray;
        padding: 10px; 
        height: 150px;
        width: 40%;
        text-align: center;
        animation: spin 3s;
        margin: 0 auto; 
        margin-top: 50px; 
    }
    
    .loser {
        height: 135px;
    }
    
    .winner {
        margin: 50px;
    }
    
    .winner h1 {
        animation: blinker 1s linear infinite;
    }
   
    .balloons {
        transform: translatey(0px);
        animation: float 4s ease-in-out infinite;
        margin-left: 403px;
        margin-top: -108px;
        width: 150px;
    }
         @keyframes float {
          0% {
              transform: translatey(0px);
          }
          50% {
              transform: translatey(-100px);
          }
          100% {
              transform: translatey(0px);
          }
        }
    
    .jail {
        background: url(./images/prisonbars.png) 600px 10px no-repeat;
        background-position-x: 600px;
        background-position-y: 10px;
        background-size: auto auto;
        background-position: center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: fixed;
        width: 567px;
        height: 322px;
        animation-name: slideDown;
        -webkit-animation-name: slideDown;
        animation-duration: 2s;
        -webkit-animation-duration: 2s;
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
    } 

    .winnerBackground {
        background: url(./images/opendoor.jpg) 10px 10px no-repeat;    
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        width: 568px;
        height: 320px;
    }

/* animations for winner and loser pages */
    @keyframes bounceIn {
        0% {
          transform: scale(0.1);
          opacity: 0;
        }
        60% {
          transform: scale(1.2);
          opacity: 1;
        }
        100% {
          transform: scale(1);
        }
      }
    
    @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }
    
/* Start animation for jail slide down */
    @keyframes slideDown {
        0% {
            transform: translateY(-100%);
        }
        50%{
            transform: translateY(8%);
        }
        65%{
            transform: translateY(-4%);
        }
        80%{
            transform: translateY(4%);
        }
        95%{
            transform: translateY(-2%);
        }           
        100% {
            transform: translateY(0%);
        }       
    }
        
    @-webkit-keyframes slideDown {
            0% {
                -webkit-transform: translateY(-100%);
            }
            50%{
                -webkit-transform: translateY(8%);
            }
            65%{
                -webkit-transform: translateY(-4%);
            }
            80%{
                -webkit-transform: translateY(4%);
            }
            95%{
                -webkit-transform: translateY(-2%);
            }           
            100% {
                -webkit-transform: translateY(0%);
            }   
        }
/* End animation for slide down */

    .rules {
        margin: 0 auto;
        background-color:#923337;
        font-family: 'Nova Square', cursive;
        font-size: 1rem; 
        color: lightgray;
        border-radius: 10px; 
        height: 250px;
        width: 350px;
        padding: 15px;
        margin-top: 30px; 
        line-height: 25px;
    }
    
    .rulesbutton {
        padding: 5px;
        height: 30px;
        width: 64px;
        text-align: center;
        margin-top: 10px;
        font-size: 13px;
    }

    li {
        margin-top: 10px;
    }
    
    ul {
        margin: 0 20px;
        list-style-type: square;
    }

    /* Start of CSS for Welcome Page Title */
    .logo {
        position: relative;
        overflow: hidden;
    }

    #lock {
        position: absolute;
        left: -300px;
        width: 100px;
        height: 100px;
        -webkit-animation: slide 0.5s forwards;
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
        animation: slide 0.5s forwards;
        margin-left: 75px;
        margin-top: -100px;
    }

    @-webkit-keyframes slide {
        100% { left: 0; }
    }
     
    @keyframes slide {
        100% { left: 0; }
    }

    .the {
        color: white;
        font-family: 'Nova Square', cursive;
        font-weight: bolder;
        font-size: 35px;
        margin-right: 170px;
    }

    .logo {
        padding: 40px;
        font-size: 50px;
        font-family: 'Nova Square', cursive;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0 0 200px #923337,0 0 30px FireBrick,0 0 6px DarkRed;
        color: #923337;
    }

    div p { 
        margin:0; 
    }
 
    #error:hover { 
         text-shadow: 0 0 200px #ffffff,0 0 80px #636564,0 0 6px #0000ff; 
    }
 
    #code:hover { 
         text-shadow: 0 0 100px #923337,0 0 40px FireBrick,0 0 8px DarkRed; 
    }

    #error {
        color: #fff;
    }

    #error span {
      animation: upper 11s linear infinite;
    }

    #code span:nth-of-type(2) {
        animation: lower 10s linear infinite;
    }

    #code span:nth-of-type(1) {
        text-shadow: none;
        opacity:.4;
    }

    @keyframes upper {
        0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
        opacity:.99; text-shadow: 0 0 80px #ffffff,0 0 30px #636564,0 0 6px #0000ff;
        }
        20%,21.999%,63%,63.999%,65%,69.999% {
        opacity:0.4; text-shadow: none; 
        }
    }
    @keyframes lower {
          0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
          opacity:0.99; text-shadow: 0 0 80px #923337,0 0 30px FireBrick,0 0 6px DarkRed;
          }
          19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
          opacity:0.4; text-shadow: none; 
          }
    }
    
    a.clickToPlay {
        background-color: #385F71;
        margin: 0 auto; 
    }
/* End of CSS for Welcome Page Title */

/* styling for link buttons */
    a {
        background-color: #2F2F2F;
        border-radius: 5px; 
        color: white;
        display: inline-block;
        text-decoration: none;
        font-size: 10px; 
        padding: 5px;
        margin: 0 auto;
    }

    .levels {
        display: flex;
    }   
}

/* TABLET 1024 x 768 */
@media only screen and (min-width: 768px) and (orientation: landscape) {
    
    .background {
        background: url(./images/mainroom.jpg) no-repeat center center fixed; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        background-repeat: no-repeat;
        width: 1024px;
        height: 768px;
        position: relative;
    }

/* Styling for timer bar */
    .timertext {
        font-size: 35px;
    }
/*End of timer bar styling*/
   
/* Image Positioning and Animation */

    /* font size change animation */
    /* @keyframes fontbulger {
        0% {
        font-size: 17px;
        }
        25% {
        font-size: 19px;
        }
        50% {
            font-size: 22px;
        }
        75% {
            font-size: 19px; 
        }
        100% {
        font-size: 17px;
        }
    } */

    .bed {
        width: 143px;
        height: 96px;
        top: 388px;
        left: 96px;
        position: absolute;
    }
    .chair {
        width: 130px;
        height: 111px;
        top: 293px;
        left: 782px;
        position: absolute;
    }
  
    .clock {
        width: 100px;
        height: 51px;
        top: 181px;
        left: 617px;
        position: absolute;
    }
  
    .globe {
        width: 74px;
        height: 95px;
        top: 217px;
        left: 495px;
        position: absolute;
    }
  
    .growler {
        width: 37px;
        height: 71px;
        top: 93px;
        left: 246px;
        position: absolute;
    }
  
    .dresser {
        width: 181px;
        height: 178px;
        top: 292px;
        left: 378px;   
        position: absolute;
    }
  
    .mermaid {
        width: 117px;
        height: 124px;
        top: 287px;
        left: 1px;
        position: absolute;
    }
  
    .octopus {
        width: 157px;
        height: 172px;
        top: -1px;
        left: 396px;
        position: absolute;
    }

    .rug {
        width: 344px;
        height: 196px;
        top: 568px;
        left: 379px;
        position: absolute;
    }
  
    .hats {
        width: 47px;
        height: 33px;
        top: 332px;
        left: 291px;
        position: absolute;
    }
/* end of icon positioning */

    a {
        font-size: 20px;
        height: 35px;
    }

/* Question and Answer Popup */
    .correctAnswer  {
        padding: 18px; 
        font-size: 29px;
        height: 75px;
        width: 223px;
    }

    .tryAgain {
        padding: 18px; 
        font-size: 29px;
        height: 75px;
        width: 223px;
    }

    .question {
        font-size: 1.1rem; 
        line-height: 1.5; 
    }
  
    .answer {
        font-size: 0.9rem; 
        line-height: 1.6; 
    }

    .loser, .winner {
        font-size: 3rem;
        padding: 5px;
        height: 225px;
        padding: 20px;
        width: 395px;
    }

    .winner {
        margin: 95px;
    }

    .balloons {
        margin-left: 739px;
        margin-top: -161px;
        width: 266px;
    }

    .jail {
        background: url(./images/prisonbars.png) 600px 10px no-repeat;
        background-position: center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: fixed;
        width: 1024px;
        height: 768px;
    } 

    .winnerBackground {
        background: url(./images/opendoor.jpg) 10px 10px no-repeat;    
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        width: 1024px;
        height: 768px;
    }
    
    .rulesbutton {
        height: 41px;
        width: 95px;
        margin-top: 26px;
        font-size: 19px;
    }
    
    .rules {
        font-size: 20px;
        height: 280px;
        width: 500px;
        margin-top: 100px;
        line-height: 25px;
    }

/* Start of CSS for Welcome Page Title */
    #lock {
        margin-left: 60px;
        margin-top: -190px;
        width: 170px;
        height: 170px;
    }
      
    .the {
        font-size: 70px;
        margin-right: 495px;
    }

    .logo {
        padding: 40px;
        font-size: 150px;
    }

    div p { 
       margin:0; 
    }

    a.clickToPlay {
      height: 50px;
      font-size: 30px;
      width: 235px;
    }
/* End of CSS for Welcome Page Title */
}


/* DESKTOP 1310 x 768 */
@media only screen and (min-width: 1200px) {
    .background {
    background: url(./images/mainroom.jpg) no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: auto auto;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1440px;
    height: 827px;
    position: relative;
    }

/* Image Positioning and Animation */

@keyframes fontbulger {
    0% {
    font-size: 35px;
    }
    25% {
    font-size: 38px;
    }
    50% {
        font-size: 42px;
    }
    75% {
        font-size: 38px; 
    }
    100% {
    font-size: 35px;
    }
}

#box {
    animation: fontbulger 3s infinite;
}

    .bed {
        width: 202px;
        height: 137px;
        top: 419px;
        left: 136px;
        position: absolute;
    }

    .chair {
        width: 186px;
        height: 154px;
        top: 286px;
        left: 1098px;
        position: absolute;
    }

    .clock {
        width: 138px;
        height: 70px;
        top: 130px;
        left: 868px;
        position: absolute;
    }

    .globe {
        width: 128px;
        height: 145px;
        top: 181px;
        left: 688px;
        position: absolute;
    }

    .growler {
        width: 58px;
        height: 100px;
        top: 5px;
        left: 344px;
        position: absolute;
    }

    .dresser {
        width: 264px;
        height: 254px;
        top: 279px;
        left: 521px;
        position: absolute;
    }

    .mermaid {
        width: 165px;
        height: 185px;
        top: 271px;
        left: 3px;
        position: absolute;
    }

    .octopus {
        width: 217px;
        height: 172px;
        top: -57px;
        left: 560px;
        position: absolute;
    }

    .rug {
        width: 490px;
        height: 248px;
        top: 674px;
        left: 530px;
        position: absolute;
    }

    .hats {
        width: 60px;
        height: 44px;
        top: 343px;
        left: 410px;
        position: absolute;
    }
/* end of icon positioning */
  
    .timertext {
        font-size: 30px;
        margin-top: 325px;
    }

/* question and answer popup */
    .question {
        font-size: 2.2rem; 
        line-height: 1.3; 
    }

    .correctAnswer  {
        padding: 15px;
        font-size: 40px;
        height: 85px;
        width: 244px;
    }
  
    .tryAgain {
        padding: 15px;
        font-size: 40px;
        height: 85px;
        width: 244px;
    }
    
    .answer {
        font-size: 1.8rem; 
        line-height: 2; 
    }

    .loser, .winner {
        font-size: 3.75rem;
        border-radius: 10px;
        padding: 5px;
        height: 268px;
        margin-top: 50px;
        width: 500px;
    }
    
    .winner {
        margin: 50px;
    }

    .playAgain {
        width: 400px;
    }
  
    .balloons {
        margin-left: 975px;
        margin-top: -161px;
        width: 327px;
        pointer-events: none;
    }

    .winner h1 {
        margin-top: 20px;
    }

    .jail {
        background: url(./images/prisonbars.png) 600px 10px no-repeat;
        background-position: center top;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: cover;
        position: fixed;
        width: 1439px;
        height: 827px;
        
    } 

    .winnerBackground {
        background: url(./images/opendoor.jpg) 10px 10px no-repeat;    
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        width: 1439px;
        height: 828px;
    }

    .rules {
        font-size: 30px;
        border-radius: 10px;
        height: 400px;
        width: 700px;
        padding: 30px;
        margin-top: 50px;
        line-height: 40px;
    }
  
    .rulesbutton {
        height: 44px;
        width: 121px;
        margin-top: 21px;
        font-size: 24px;
    }
    

    /* Start of CSS for Welcome Page Title */    
    .the {
        font-size: 73px;
        margin-right: 584px;
    }
      
    .logo {
        padding: 40px;
        font-size: 175px;
    }
  
    #lock {
        margin-top: -265px;
        width: 250px;
        height: 250px;
    }
      
    div p { 
        margin:0; 
    }
/* End of CSS for Welcome Page Title */

/* styling for link buttons */
    a {
        height: 45px;
        width: 350px; 
        font-size: 30px; 
    }

}