/* 1024 x 634 */
@media only screen and (max-width: 1024px) and (min-width: 601px) and (orientation: landscape) {
 
  .background {
    background: url(./images/mainroom.jpg) no-repeat center center fixed; 
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 1024px;
    height: 634px;
}

/* start of icon positioning for tablet*/
  /* Icon shake in main room */
  img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .bed {
      width: 143px;
      height: 96px;
      top: 388px;
      left: 96px;
      position: absolute;
    }

  .chair {
      width: 130px;
      height: 111px;
      top: -293px;
      left: 782px;
      position: absolute;
    }

  .clock {
      width: 100px;
      height: 51px;
      top: 181px;
      left: 617px;
      position: absolute;
    }

  .globe {
      width: 74px;
      height: 95px;
      top: 217px;
      left: 495px;
      position: absolute;
    }

  .growler {
      width: 37px;
      height: 71px;
      top: 93px;
      left: 246px;
      position: absolute; 
    }

  .dresser {
      width: 181px;
      height: 178px;
      top: 292px;
      left: 378px;
      position: absolute;
    }

  .mermaid {
      width: 117px;
      height: 124px;
      top: 287px;
      left: 1px;
      position: absolute;
    }

  .octopus {
      width: 157px;
      height: 172px;
      top: -1px;
      left: 396px;
      position: absolute;
    }

  .rug {
      display: none;
    } 

  .hats {
      width: 47px;
      height: 33px;
      top: 332px;
      left: 291px;
      position: absolute;
    }
  /*End of icon positioning */


  /* Styling for timer bar 
  .timertext {
    height: 300px;
  }*/


/* Question and Answer Popup */
  .question {
    font-size: 1.1rem; 
    line-height: 1.5; 
    }
  
  .answer {
    font-size: 0.9rem; 
    line-height: 1.6; 
  }

  .loser, .winner {
    font-size: 2.75rem; 
    border-radius: 10px; 
    padding: 5px; 
    height: 200px;
    width: 460px;
    text-align: center;
    animation: spin 3s;
    margin: 0 auto; 
    margin-top: 50px; 
    }

  .winner {
    margin: 50px;
    }

  .winner p {
    color: white;
    }

  .winner h1 {
    color: white;
    animation: blinker 1s linear infinite;
    margin-top: 20px;
  }

  .jail {
    background: url(./images/prisonbars.png) 600px 10px no-repeat;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 1024px;
    height: 634px;
    animation-name: slideDown;
    -webkit-animation-name: slideDown;  
    animation-duration: 2s; 
    -webkit-animation-duration: 2s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;
    }

  .winnerBackground {
    background: url(./images/opendoor.jpg) 10px 10px no-repeat;    
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 1024px;
    height: 634px;
    }

/* styling for link buttons */
a {
    background-color: #2F2F2F;
    border-radius: 5px; 
    color: white;
    height: 50px;
    width: 80px; 
    text-decoration: none;
    font-size: 10px; 
    padding: 5px;
}

 /* animations for winner and loser pages */
 @keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

 /* Start animation for jail slide down */
  @keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(8%);
    }
    65%{
        transform: translateY(-4%);
    }
    80%{
        transform: translateY(4%);
    }
    95%{
        transform: translateY(-2%);
    }           
    100% {
        transform: translateY(0%);
    }       
}
    
    @-webkit-keyframes slideDown {
        0% {
            -webkit-transform: translateY(-100%);
        }
        50%{
            -webkit-transform: translateY(8%);
        }
        65%{
            -webkit-transform: translateY(-4%);
        }
        80%{
            -webkit-transform: translateY(4%);
        }
        95%{
            -webkit-transform: translateY(-2%);
        }           
        100% {
            -webkit-transform: translateY(0%);
        }   
    }
    /* End animation for slide down */

    .rules {
        margin: 0 auto;
        background-color:#923337;
        font-family: 'Nova Square', cursive;
        font-size: 1rem; 
        border-radius: 10px; 
        height: 200px;
        width: 350px;
        padding: 15px;
        margin-top: 50px; 
        line-height: 25px;
        }
    
    ul {
        margin: 0 20px;
        list-style-type: square;
        }

    /* Start of CSS for Welcome Page Title */
    .tite {
        position: relative;
        }
        
      .the {
        color: white;
        font-family: 'Nova Square', cursive;
        font-weight: bolder;
        font-size: 35px;
        margin-right: 170px;
        }
        
      body { 
          background-color:#2B4162; 
      }
  
      .logo {
          padding: 40px;
          font-size: 150px;
          font-family: 'Nova Square', cursive;
          text-align: center;
          text-transform: uppercase;
          text-shadow: 0 0 80px #923337,0 0 30px FireBrick,0 0 6px DarkRed;
          color: #923337;
        }
  
      div p { 
         margin:0; 
      }
  
      #error:hover { 
          text-shadow: 0 0 200px #ffffff,0 0 80px #636564,0 0 6px #0000ff; 
      }
  
      #code:hover { 
          text-shadow: 0 0 100px #923337,0 0 40px FireBrick,0 0 8px DarkRed; 
      }
  
      #error {
            color: #fff;
            text-shadow: 0 0 80px #ffffff,0 0 30px #636564,0 0 6px #0000ff;
      }
  
      #error span {
          animation: upper 11s linear infinite;
      }
  
      #code span:nth-of-type(2) {
          animation: lower 10s linear infinite;
      }
  
      #code span:nth-of-type(1) {
          text-shadow: none;
          opacity:.4;
        }
  
      @keyframes upper {
          0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
          opacity:.99; text-shadow: 0 0 80px #ffffff,0 0 30px #636564,0 0 6px #0000ff;
          }
          20%,21.999%,63%,63.999%,65%,69.999% {
          opacity:0.4; text-shadow: none; 
          }
        }
        @keyframes lower {
            0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
            opacity:0.99; text-shadow: 0 0 80px #923337,0 0 30px FireBrick,0 0 6px DarkRed;
            }
            19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
            opacity:0.4; text-shadow: none; 
            }
        }
      
      a.clickToPlay {
          background-color: #385F71;
          margin: 0 auto; 
      }
  /* End of CSS for Welcome Page Title */
}